<%- include('partials/header') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2 col-xl-2 bd-sidebar leftBorderContainer">
      <img class = "img-fluid imageContain" src="images/arrow.jpg">
    </div>

    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5">
      <div class="list-group">
        <a href="/rect" class="list-group-item list-group-item-action d-flex gap-5 py-3" aria-current="true">
          <img src="images/arrow.jpg" alt="twbs" width="32" height="32" class="rounded-circle">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="ml-3 mb-0">New Rows Pattern</h6>
            </div>
          </div>
        </a>
        <a href="/round" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <img src="images/arrow.jpg" alt="twbs" width="32" height="32" class="rounded-circle">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="ml-3 mb-0">New In the Round Pattern</h6>
              <!-- <p class="ml-3 mb-0 opacity-75">Design Mosaic Patterns for in the Round Crochet</p> -->
            </div>
          </div>
        </a>
        <a href="/patternList" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <img src="images/arrow.jpg" alt="twbs" width="32" height="32" class="rounded-circle">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="ml-3 mb-0">Saved Patterns</h6>
              <!-- <p class="ml-3 mb-0 opacity-75">Design Mosaic Patterns for in the Round Crochet</p> -->
            </div>
          </div>
        </a>
       
        <!-- <a href="#" class="list-group-item list-group-item-action d-flex gap-5 py-3" aria-current="true">
          <img src="images/arrow.jpg" alt="twbs" width="32" height="32" class="rounded-circle">
          <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
              <h6 class="ml-3 mb-0">Saved Traditional Rows Pattern</h6>
              <p class="ml-3 mb-0 opacity-75">Design Traditional Row Mosaic Patterns for Crochet</p>
            </div>
          </div>
        </a> -->

      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
