<%- include('partials/header') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2 col-xl-2 bd-sidebar leftBorderContainer">
      <img class = "img-fluid imageContain" src="images/arrow.jpg">
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
            <p>
            Welcome to MoseyForward!  If you crochet and know the basics of mosaic crochet, and have wanted to design your own mosaic-crochet-in-the-round patterns, then this is the place for you.  Below are some images of patterns that have been created using this site.
          </p>
          <p>
            This is very much a work in progress, and a very new website.  So any friendly and constructive feedback is greatly appreciated!  I am just one person building this, so please be kind!
          </p>
          <p>
            So welcome!  Create an account and dive in!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img class = "rounded float-left patternImage" src="images/pink2.png">
          <img class = "rounded float-left patternImage" src="images/pinkblack2.png">
          <img class = "rounded float-left patternImage" src="images/burgundy.png">
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>