<%- include('partials/header') %>


<div class="jumbotron centered">
  <% if (userMsg) { %>
    <div class="alert alert-warning" role="alert">
      <%= userMsg %>
    </div>
    <% } %>

  <div class="container">
    <img src="/images/arrow.png" height="33" alt="stained glass arrow" title = "Stained Glass Arrow">
    <h1 class="display-3">Home</h1>

  </div>
</div>

<%- include('partials/footer') %>
