<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <% if (userMsg) { %>
            <div class="alert alert-warning" role="alert">
              <%= userMsg %>
            </div>
          <% } %>

          <!-- Makes POST request to /register route -->
          <p>
          To create a free MoseyForward account, you'll need a valid email address.
          This address will only be used to send you your signup link. We will never send you spam or other unwanted email.
          Click on the link in the sign-up email to set your password and complete account setup.
          </p>

          <form action="/register" method="POST">
            <div class="form-group">
              <label type="hidden">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>
